/*===== global =====*/
body {
    color: #555;
    padding-top: 50px;
    background-color: #f7f7f7;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

a {
    cursor: auto;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*===== header =====*/
.ware-navbar {
    background: #25a8e0;
    border-color: #1c94c7;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-default .navbar-nav > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background: #2998c7;
}

.navbar-default .navbar-brand {
    float: left;
    line-height: 46px;
    font-size: 28px;
    color: #fff;
    padding: 0 20px;
}

.navbar-default .navbar-toggle {
    border-color: #2998c7;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

/*===== footer =====*/
.copyright {
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
    text-align: center;
    font-size: 12px;
    padding: 28px 0 38px;
    color: #666;
}

.m-t-10{margin-top: 10px;  }
.m-t-20{margin-top: 20px;  }
.m-t-30{margin-top: 30px;  }
.m-t-40{margin-top: 40px;  }



/*===== Content =====*/
.page-content {
    display: block;
    margin-left: 224px;
    margin-right: 0;
    margin-top: 0;
    min-height: 100%;
    padding: 0;
}
.row{
    margin: 10px -5px;
}

.widget {
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0 0 30px 0;
}

.widget-header {
    position: relative;
    min-height: 35px;
    background: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    color: #555;
    padding-left: 12px;
    text-align: right;
}
.widget-header>.widget-caption {
    line-height: 34px;
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
    font-weight: 400 !important;
    font-size: 13px;
}

.widget-body {
    background-color: #fbfbfb;
    -webkit-box-shadow: 1px 0 10px 1px rgba(0, 0, 0, .3);
    -moz-box-shadow: 1px 0 10px 1px rgba(0, 0, 0, .3);
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, .3);
    padding: 12px;
}





