<include file="./Application/Home/View/head.html"/>

<div class="container">
    <div class="row">
        <div class="col-md-8">

            <div class="activity container-2">
                <div class="container-3">
                    <ul class="nav nav-pills article-nav">
                        <?php foreach($activity_list as $val):?>
                        <li class="<?php if($id == $val['id']){ echo 'active';}?>">
                            <a href="/home/index/index?id=<?php echo $val['id'];?>"><?php echo $val['title'];?></a>
                        </li>
                        <?php endforeach;?>
                    </ul>
                </div>

                <div class="activity-content">
                    <div class="row">
                        <?php echo $activity['contents'];?>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="container-2">
                <div class="container-3">
                    <div class="act-heading">公告</div>
                </div>
                <div class="act-content">
                    <div class="list-group">

                        <?php foreach($notice as $val):?>
                        <div class="list-group-item">
                            <div class="item-left label label-success">
                                <?php echo $val['name'];?>
                            </div>
                            <div class="item-content">
                                <?php echo $val['contents'];?>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <?php endforeach;?>
                    </div>
                </div>
                <div class="act-footer">
                </div>
            </div>


            <div class="container-2 contact-us">
                <div class="container-3">
                    <div class="act-heading">加入我们</div>
                </div>
                <div class="act-content">

                    <div class="m-t-10 f-l">
                        <div class="m-t-10">
                            <img class="img-hi-logo" src="__PUBLIC__/Common/Image/hi_logo.png"> Hi群:
                            <a href="baidu://message/?id=1489013">
                                1489013
                            </a></div>
                        <div class="m-t-20">
                            <img class="img-hi-logo" src="__PUBLIC__/Common/Image/hi_logo.png"> 社长:
                            <a href="baidu://message/?id=centalpha">
                                小石杰一郎
                            </a>
                        </div>
                    </div>

                    <div class="f-l m-l-20">
                        <img class="img-hi" src="__PUBLIC__/Common/Image/qr_code.png">
                    </div>
                    <div style="clear:both"></div>
                </div>
                <div class="act-footer">
                </div>
            </div>

        </div>
    </div>
</div>

<include file="./Application/Home/View/foot.html"/>