<include file="./Application/Admin/View/head.html"/>


<div class="page-content">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="widget" id="main-widget">
                <div class="widget-header">
                    <span class="widget-caption">公告列表</span>
                    <!--Widget Buttons-->
                </div>
                <!--Widget Header-->
                <div class="widget-body">

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success btn-xs f-l" data-toggle="modal"
                            data-target="#myModal-notice" id="btn-add">
                        <i class="glyphicon glyphicon-plus"></i>&nbsp;新增公告
                    </button>

                    <!-- Modal notice-->
                    <div class="modal fade" id="myModal-notice" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">公告</h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <input type="hidden" name="id" id="id-notice_id" >
                                        <div class="form-group">
                                            <label for="notice-name" class="control-label">Name:</label>
                                            <input type="text" class="form-control" id="notice-name" name="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="notice-contents" class="control-label">内容:</label>
                                            <textarea class="form-control" id="notice-contents" name="contents" style="height: 100px;"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary btn-submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table table-hover m-t-10">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>名称</th>
                            <th>内容</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach($data as $val):?>
                        <tr>
                            <th scope="row"><?php echo $val['id'];?></th>
                            <td><?php echo $val['name'];?></td>
                            <td><?php echo $val['contents'];?></td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm btn-edit"
                                        data-id="<?php echo $val['id'];?>"
                                        data-name="<?php echo $val['name'];?>"
                                        data-contents="<?php echo $val['contents'];?>">
                                    编辑
                                </button>
                                <button type="button" class="btn btn-danger btn-sm btn-del"
                                        data-id="<?php echo $val['id'];?>">
                                    删除
                                </button>
                            </td>
                        </tr>
                        <?php endforeach;?>
                        </tbody>
                    </table>

                </div>
                <!--Widget-->
            </div>
        </div>
    </div>
</div>

<script src="__PUBLIC__/admin/js/notice.js"></script>
<include file="./Application/Admin/View/foot.html"/>
