<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta http-equiv="Content-Style-type" content="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>Cantonese</title>
    <link rel="shortcut icon" href="__PUBLIC__/Common/Image/logo.png" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap-theme.css"/>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Css/index.css"/>
</head>

<body style=''>

<nav class="navbar navbar-default navbar-fixed-top ware-navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navMenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <!--Cantonese-->
                <img alt="粤语社" style="height: 40px" src="__PUBLIC__/Common/Image/logo.png" />
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="nav navbar-nav ware-nav">
                <li class="<?php if(empty(CONTROLLER_NAME) || CONTROLLER_NAME == 'Index'){ echo 'active';}?>">
                    <a href="/">首页</a>
                </li>
                <li class="<?php if(CONTROLLER_NAME == 'Download'){ echo 'active';}?>">
                    <a href="/home/download">下载专区</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ware-nav pull-right">
                <?php if(!empty(cookie('admin_token'))):?>
                <li class="msg">
                    <a href="/admin/activity" data-remote="true">管理员入口</a>
                </li>
                <?php endif;?>
                <!--<li class="msg">-->
                <!--<a href="/login-modal" data-remote="ture">登录</a>-->
                <!--</li>-->
                <!--<li class="msg">-->
                <!--<a href="/register-modal" data-remote="ture">注册</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>

