<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta http-equiv="Content-Style-type" content="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>管理后台</title>
    <link rel="shortcut icon" href="__PUBLIC__/Common/Image/logo.png" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap-theme.css"/>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/Css/index.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/Css/sidebar.css"/>

    <script src="__PUBLIC__/jquery-1.11.1.min.js"></script>
</head>

<body style=''>

<nav class="navbar navbar-default navbar-fixed-top ware-navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navMenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="粤语社" style="height: 40px" src="__PUBLIC__/Common/Image/logo.png" />管理后台
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="nav navbar-nav ware-nav">
                <li class="active">
                    <a href="/">首页</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ware-nav pull-right">
                <?php if(!empty(cookie('admin_token'))):?>
                <li class="msg">
                    <a href="/admin/activity" data-remote="true">管理员</a>
                </li>
                <?php endif;?>
                <!--<li class="msg">-->
                <!--<a href="/login-modal" data-remote="ture">登录</a>-->
                <!--</li>-->
                <!--<li class="msg">-->
                <!--<a href="/register-modal" data-remote="ture">注册</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>


<div class="page-sidebar sidebar-fixed" id="sidebar">
    <!-- Sidebar Menu -->
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 637px;">
        <ul class="nav sidebar-menu" style="width: auto; height: 637px;">
            <li class="<?php if(CONTROLLER_NAME == 'Activity'){ echo 'active';}?>">
                <a href="/admin/activity/index">
                    <i class="menu-icon glyphicon glyphicon-picture"></i>
                    <span class="menu-text"> 活动管理 </span>
                </a>
            </li>
            <li class="<?php if(CONTROLLER_NAME == 'Download'){echo 'active';}?>">
                <a href="/admin/download/index">
                    <i class="menu-icon glyphicon glyphicon-download-alt"></i>
                    <span class="menu-text"> 下载管理 </span>
                </a>
            </li>
            <li class="<?php if(CONTROLLER_NAME == 'Notice'){echo 'active';}?>">
                <a href="/admin/notice/index">
                    <i class="menu-icon glyphicon glyphicon-picture"></i>
                    <span class="menu-text"> 公告管理 </span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /Sidebar Menu -->
</div>
