<include file="./Application/Home/View/head.html"/>

<div class="container">
    <div class="row">
        <div class="col-md-8">

            <div class="download container-2">
                <div class="container-3">
                    <h2 class="panel-title act-heading"><span class=" glyphicon glyphicon-download-alt"></span> 下载专区
                    </h2>
                </div>
                <div class="panel-body">
                    <ul class="post-list">
                        <?php foreach($data as $val):?>
                        <li>
                            <a href="<?php echo $val['address'];?>" target="_blank"><?php echo $val['name'];?></a>
                            <span class="c-time"><?php echo date('Y-m-d',strtotime($val['c_time']));?></span>
                        </li>
                        <?php endforeach;?>
                    </ul>
                </div>
            </div>

            <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="download_reply_xx" data-title="下载专区"
                 data-url="/home/download"></div>
            <!-- 多说评论框 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
                var duoshuoQuery = {short_name: "canto"};
                (function () {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';
                    ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                    || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
            <!-- 多说公共JS代码 end -->

        </div>

        <div class="col-md-4">
            <div class="container-2">
                <div class="container-3">
                    <div class="act-heading">公告</div>
                </div>
                <div class="act-content">
                    <div class="list-group">

                        <?php foreach($notice as $val):?>
                        <div class="list-group-item">
                            <div class="item-left label label-success">
                                <?php echo $val['name'];?>
                            </div>
                            <div class="item-content">
                                <?php echo $val['contents'];?>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <?php endforeach;?>
                    </div>
                </div>
                <div class="act-footer">
                </div>
            </div>
        </div>

    </div>
</div>


<include file="./Application/Home/View/foot.html"/>