<include file="./Application/Home/View/head.html"/>

<div class="container">
    <div class="row">
        <div class="col-md-8">

            <div class="download container-2">
                <div class="container-3">
                    <h2 class="panel-title act-heading"><span class=" glyphicon glyphicon-download-alt"></span> 下载专区
                    </h2>
                </div>
                <div class="panel-body">
                    <ul class="post-list">
                        <?php foreach($data as $val):?>
                        <li>
                            <a href="<?php echo $val['address'];?>" target="_blank"><?php echo $val['name'];?></a>
                            <span class="c-time"><?php echo date('Y-m-d',strtotime($val['c_time']));?></span>
                        </li>
                        <?php endforeach;?>
                    </ul>
                </div>
            </div>

        </div>


        <div class="col-md-4 hidden-xs">
            <div class="container-2">
                <div class="container-3">
                    <div class="act-heading">活动</div>
                </div>
                <div class="act-content">
                    <div class="list-group">
                        <section class="list-group-item row">
                            <div class="col-md-3">
                                <a href="/events/1047030274">11月27日</a>
                            </div>
                            <div class="event-title">
                                <a href="/events/1047030274">国际硬件投资 &amp; 创业趴 - 英文分享专场 + 硬创欢乐啤酒夜</a>
                            </div>
                        </section>
                        <section class="list-group-item row">
                            <div class="col-md-3">
                                <a href="/events/1047030273">11月15日</a>
                            </div>
                            <div class="event-title">
                                <a href="/events/1047030273">DevFest 2015 GDG @ ShenzhenWare 跨界派对</a>
                            </div>
                        </section>
                        <section class="list-group-item row">
                            <div class="col-md-3">
                                <a href="/events/1047030261">11月06日</a>
                            </div>
                            <div class="event-title">
                                <a href="/events/1047030261">50 后创业导师对话 80 后潮人创业家 -- 潮汕两日省亲活动</a>
                            </div>
                        </section>
                        <section class="list-group-item row">
                            <div class="col-md-3">
                                <a href="/events/1047030271">11月06日</a>
                            </div>
                            <div class="event-title">
                                <a href="/events/1047030271">设计创想，开启「智造未来」-- 2015 深圳国际工业设计大展</a>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="act-footer">
                    <!--<a href="/events">更多活动</a>-->
                </div>
            </div>

        </div>
    </div>
</div>

<include file="./Application/Home/View/foot.html"/>